.iv-pill {
  background: var(--iv-pill-bgcolor, transparent);
  width: fit-content;
  display: inline-block;

  &.bordered {
    border-color: var(--iv-pill-bordercolor, black);
    border-width: 1px;
    border-style: solid;
  }

  &.internal-none {
    padding: 0;
  }

  &.internal-small {
    padding: 0.25rem 0.5rem;
  }

  &.internal-medium {
    padding: 0.5rem 1rem;
  }

  &.internal-large {
    padding: 0.75rem 1.5rem;
  }

  &.external-none {
    margin: 0;
  }

  &.external-small {
    margin: .5rem;
  }

  &.external-medium {
    margin: .75rem;
  }

  &.external-large {
    margin: 1rem;
  }

  &.corners-none {
    border-radius: 0;
  }

  &.corners-small {
    border-radius: 0.5rem;
  }

  &.corners-medium {
    border-radius: 1rem;
  }

  &.corners-large {
    border-radius: 2rem;
  }

  &-content {
    color: var(--iv-pill-textcolor, black);
  }

  &-label {
    font-weight: bold;
    margin-right: 0.5rem;
  }

}